{% extends 'youthpalace/base.html' %}

{% block content %}
    <div class="teacher">
        <h1>{{ teacher.name }}</h1>
        {% if teacher.name != 'No teacher' %}
        <a class="btn btn-default" href="{% url 'teacher_edit' pk=teacher.pk %}">Edit Profile<span class="glyphicon glyphicon-pencil"></span></a> 
        {%endif%}
    </div>
    <hr>
    <p> Courses </p>
    <ul>
    {% for course in teacher.course.all %}
            <li>{{ course.name }}</li>
    {% empty %}
        <p>No courses added yet </p>
    {% endfor %}
    </ul>
{% endblock %}